<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "flappybuzz.lecodeurdesenfers.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Flappy Buzz</name>

    <description>
        Faites voler Buzz faire l'infini et l'au-delà, mais attention : des tuyaux verts se mettront sur votre chemin, évitez-les où vous finirez dans les sombres goulags de l'Empereur Zurg !
    </description>

    <author href="http://scratch.mit.edu/users/LeCodeurDesEnfers" email="aurelesixdenier@live.fr">
        LeCodeurDesEnfers
    </author>

</widget>
